<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aaron.studylive">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistActivity"></activity>
        <activity
            android:name=".LoginRootActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".LoginTeacherActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".LoginStudentActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PersonalActivity" />
        <activity
            android:name=".JudgeActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivityWithTab"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppCompatTheme" />
        <activity android:name=".MineActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".DiscussActivity" />
        <activity android:name=".HomeActivity" />
    </application>

</manifest>